*{
    margin: 0;
    padding: 0;
   }

html, body {
    height: 100%;
}
  
  body {
    font-family: 'Montserrat','sans-serif';
  }
  
    .center {
      padding-left: calc(50% - 600PX);
      padding-right: calc(50% - 600px);
    }

    .header {
      background: url(img/Group\ 1597880565.svg) no-repeat  right top,
      url(img/Star\ 2.svg) no-repeat 63px 94px,
      url(img/Star\ 3.svg) no-repeat 156px 59px,
      url(img/Star\ 4.svg) no-repeat 1013px 568px,
      url(img/Star\ 5.svg) no-repeat 948px 538px;
     
     }
     .top-header {
      height: 800px;
      background: rgba(225, 255, 143, 1); 
    }
  
.head__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 769px;
  padding-top: 196px;
 
 }
.text {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  text-align: left;
  max-width: 769px;
  height: 156px;
  color: #202027;
  padding-bottom: 24px;
   }
.top__text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  max-width: 720px;
  color: #202027;
  padding-bottom: 48px;

}
.buton {
 box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 28px;
gap: 10px;
width: 247px;
height: 66px;
background: #202027;
color: #efe9e9;
border: 1px solid #202027;
border-radius: 60px;
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 34.01px;
text-align: center;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin-left: 120px;
margin-bottom: 156px;
}

.buton:hover {
    background: #FFFFFF; /* Белый фон при наведении */
    color: #000000;      /* Черный текст при наведении */
  }
  .button-only {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 55px;
    border-radius: 60px;
    padding: 16px 28px 16px 28px;
    border: 1px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.67px;
    text-align: center;
    padding-bottom: 32px;
    padding-top: 32px;
    padding-left: 29px;
    background: #202027;
    color: #efe9e9;
    border: 1px solid #202027;
}
  .button-only {
    display: none;
  }
  
.product-box {
  width: 100%;
 }
  .product-content {
    background: #000000;
    background-image: url(img/Star\ 11.svg) no-repeat  28px 1570px;
   /*background-color: #eee7e7;*/
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  flex-wrap: wrap;
  column-gap: 32px;
  
}
.geim-text {
  width: 788px;
  height: 96px;
  padding-top: 94px;
  padding-bottom: 72px;
  padding-left: 119px;
  padding-right: 474px;
  }
.product__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
}
.product__text {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
 
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Распределение пространства */
  padding-top: 94px;
  padding-bottom: 92px;
  
  justify-content: space-evenly;
  
}
.tablet-only {
  display: none; /* По умолчанию скрываем текст */
}

.product-container fieldset {
  margin-bottom: 20px; /* Отступ между рядами */
}

.prod1 {
  width: 100%; /* Заменено фиксированной шириной на 100% */
  /* Максимальная ширина блока */
  height: auto; /* Автоматическая высота */
  border-radius: 30px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background: #ffffff;
  margin: 0 auto; /* Центрирование блока */
}

.prod2{
   border-radius: 30px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background: #ffffff;
  position: relative;
}
.prod__cart {
 position: absolute;
  width: 48px;
  height: 48px;
  top: 363px;
  left: 259px;
  }

.prod4 {
 
  border-radius: 30px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background: #ffffff;
}

.product__img {
  width: 378px;
  border-radius: 30px;
 }

.link1 {
 
  height: 159px;
  border-radius: 30px;
}
.link2 {
  width: 378px;
  height: 198px;
  border-radius: 30px;
  background: #F7F6F6;
}

.link4 {
  width:378px;
  height: 237px;
  border-radius: 30px;
}

.product__name {
  font-family: Montserrat;
  font-size: 17.19px;
  font-weight: 500;
  line-height: 18.91px;
  text-align: left;
  color: #202027;
  width: 108px;
  height: 36px;
  padding-left: 32px;
  padding-top: 32px;
  border-radius: 52.58px;
  }

.product__name {
    display: block; 
}

.product__text1 {
  width: 314px;
  height: 39px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: left;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  color: #202027;
}
.product__text2 {
  width: 314px;
  height: 78px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: left;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 36px;
  padding-top: 16px;
  color: #202027;
}
.product__text4 {
  width: 314px;
  height: 117px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: left;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 36px;
  color: #202027;
}
.prod1, .prod2 {
  position: relative;
}
.game__star1 {
  position: absolute;
  width: 584.72px;
  height: 584.72px;
  right: 20px; /* Обратите внимание на правое расстояние */
  top: -40px; /* Сместите звезду вверх */
  transform: rotate(-6.77deg);
  z-index: -1; /* Убедитесь, что звезда под карточками */
}
.footer {
  width: 1441px;
  height: 150px;
  top: 5770px;
  background:rgb(189, 237, 53);
}

.mini-only {
    width: 250px;
    height: 49px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;
    text-align: left;
    color: #ffffff;
  }
  
  /* По умолчанию скрываем элемент */
  .mini-only {
    display: none;
  }
  .product__text1-only {
    width: 249px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
    }
    .product__text1-only {
      display: none;
    }
    .footer {
      width: 100%;
      height: auto;
      background-color: #BDED35;
      padding-left: 50px;
     
          &__title {
              color:#000;
              font-size: 24px;
              font-weight: 600;
              line-height: 29.26px;
              text-align: center;
              background-color: #BDED35;
              padding-left: 578px;
              padding-top: 60px;
              padding-bottom: 60px;
          }
        }
        .footer {
          display: none;
        }
  

@import 'tabler';
@import 'mobile';
  